@font-face {
    font-family: 'AlbertSans-Bold';
    src: url('./fonts/AlbertSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AlbertSans-Light';
    src: url('./fonts/AlbertSans-Light.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;


}


.universalContainer {
   
    top: 0;

}



.navSection6 {
   
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    height: 4.375rem;   
   
}

.navSection6 img{
    width: 9.625rem;
    height: 2.1875rem;
    flex-shrink: 0;
}

.creditLink2 {
    color: #28282B;
    text-align: center;
    font-family: 'AlbertSans-Bold';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

a {
    color: #28282B;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'AlbertSans-Light';
}



p {
    color: #54535A;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}



span {
    color: #54535A;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.texto {

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    
}

h1 {
    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.leyendas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creditLink {
    color: #28282B;
    text-align: center;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.container {
   
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center; 
    padding-top: 3em;
    padding-bottom: 3em;
    
}

.creditLink {
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 1;
}

.linea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #53A490;
    margin-bottom: 3em;
    transition: width 0.3s ease-in-out;
}

.creditLink:hover+.linea {
    width: 100%;
}







.bgFooter2 {

    width: 37em;
    height: 37em;
    position: absolute;
    transform: translate(-0.87em, 2em);


}


.footer {

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding-top: 5em;
    justify-content: center;
    align-items: center;

}

.section9{
    
    top: 0;
    background: linear-gradient(#28282B, #1A1A1C);
    max-height: 100%;
    overflow-y: hidden;
    position: relative;
    z-index: 3;
}


@media screen and (min-width: 768px) {

    
    .navSection6 {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2em;
        height: 2.875rem;  
        padding-bottom: 5em;
        height: 6.875rem;
        padding-left: 2%;
        padding-right: 2%;
        }
        
        h1{
            padding-top: 3em;
            width: 334px;
            color: #28282B;
            font-family: 'AlbertSans-Bold';
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            position: relative;
            left: 15%;
        }
    


    .navSection6 img{
        width: 13.82206rem;
        height: 3.125rem;
        flex-shrink: 0;
    }

    .buttonAviso{
        width: 14.375rem;
        height: 2.5rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        background: #53A490;
        display: flex;
        justify-content: center;
        align-items: center;
      
      }

      .buttonAvisoLink {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'AlbertSans-Bold';
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 167px;
        height: 17px;
        display: block;
      
      }


      .avisoArrow {
        width: 1.16531rem;
        height: 0.98188rem;
        flex-shrink: 0;
        fill: #FFF;
      }

      .containerAviso{
        display: flex;
        gap:2rem;
        align-items: center;
        justify-content: center;
      }

     .titleAviso {
       color: black;
       text-align: center;
      }

      .texto{
        position: relative;
        left: 12%;
        width: 63.375rem;
        align-items: flex-start;
      }

      .legal {
        align-items: flex-start;
    }

    .leyendas {
        
        align-items: flex-start;
    }

    
.creditLink {
    color: #28282B;
    text-align: center;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.footerContainer {
   height: 100vh; 
    width: 100vw;
    position: relative;
}

.section9{
    height: 100vh;
    width: 100vw;
    position: relative;
}
}