@font-face {
    font-family: 'AlbertSans-Bold';
    src: url('./fonts/AlbertSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AlbertSans-Light';
    src: url('./fonts/AlbertSans-Light.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;


}


.universalContainer {
    height: 100vh;
    width: 100vw;


}

.navSection6 {
    display: flex;
   
    opacity: 0.95;
    background: #F6F6F7;

    width: 26.875rem;
    height: 4.375rem;
    flex-shrink: 0;
}

.navSection6 {
    width: 100%;
    height: 2.1875rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
}

.creditLink2 {
    color: #28282B;
    text-align: center;
    font-family: 'AlbertSans-Bold';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

a {
    color: #28282B;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'AlbertSans-Light';
}



p {
    color: #54535A;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}



span {
    color: #54535A;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.texto {

    padding-left: 2em;
    padding-right: 2em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4em;
    ;


}

h1 {
    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.leyendas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creditLink {
    color: #28282B;
    text-align: center;
    font-family: 'AlbertSans-Light';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.creditLink {
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 1;
}

.linea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #53A490;
    ;
    transition: width 0.3s ease-in-out;
}

.creditLink:hover+.linea {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.footerContainer {

    background: linear-gradient(#28282B, #1A1A1C);
    position: relative;

    width: 100vw;
}



.bgFooter {

    width: 20em;
    height: 20em;
    position: absolute;
    transform: translate(3em, 2em);


}


.footer {

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding-top: 5em;
    justify-content: center;
    align-items: center;

}