@font-face {
  font-family: 'AlbertSans-Bold';
  src: url('./fonts/AlbertSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlbertSans-Light';
  src: url('./fonts/AlbertSans-Light.ttf') format('truetype');
}


:root {
  --heroHeight: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
}

section {
  top: 0;
  position: sticky;
  width: 100vw;
  max-height:100vh; 
  overflow: auto; 
  
  
}


.section-1{
  background-color: white;
  
}
/* EFECTO COVER ##################################*/


.hero-effects {
  height: 100vh;
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  /* Define la opacidad aquí */
  z-index: 2;
  /* Asegura que esté detrás de .bg */
}


.bg {
  height: 100%;
  position: fixed;
  width: 100%;
  background-image: url('./imgs/finden-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
}


.shade {
  opacity: 0;
  background: white;
  z-index: 3;
  height: 100%;
  position: fixed;
  width: 100%;
}

.title {
  width: 100%;
}

.text {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23rem;
  text-align: center;
  color: white;
  padding: 4em;
  text-align: center;
  margin-bottom: 50%;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}



.textImg {
  width: 100%;


}

.textImg2 {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 131px;
  height: 40px;

}


.arrow {
  position: fixed;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.centerV {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Your custom styles for h1 and p go here */
h1 {

  color: #53A490;
  text-align: center;
  font-family: 'AlbertSans-Bold';
  font-size: 1.884rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}


.text p {

  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 1.253rem;

}


.content {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
 
}


/* Your custom styles for p inside .content go here */

.bouncy {
  animation: bounce 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* EFECTO COVER ##################################*/



header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* Alinea los elementos a la derecha */
  align-items: flex-start;
  /* Alinea los elementos hacia arriba */
  padding: 1.25rem;
  z-index: 3;
  position: relative;
}

.creditosBt {
  /*modificar version Pantallas grandes */
  color: #28282B;
  text-align: center;
  font-family: 'AlbertSans-Light';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 48px;
  height: 14px;
  line-height: 14px;
  letter-spacing: 0em;
  text-decoration: none;


}

/* Boton superior: "Cuentanos de tu empresa" */
.formBt {
  display: none;
}


.formLink {
  display: none;
}

/*  ######################################   */

/*CTA ANCLADO*    */
.formAnclado {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  background: #53A490;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;


}

.formLinkAnclado {
  color: #FFF;
  text-align: right;
  font-family: 'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;

}

.formAncladoArrow {
  width: 1.16531rem;
  height: 0.98188rem;
  flex-shrink: 0;
  fill: #FFF;
}

/* CTA ANCLADO  */

.section-2{
  background-color: white;
  
}

.description {
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.0999rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 23.0625em;
  padding: 1.5em;
  width: 369px;
  height: 371px;
  top: 62em;
  left: 1.9375em;
  padding-top: 1em;

}

.description span {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.0999rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Efecto de entrada de texto */
.description {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

/*Efecto de entrada de texto */

/*Imagenes para efecto revelado*/
.imgRevealed {
 
  margin-top: 0.5em;
  padding-right: 9.5em;
  padding-bottom: 4em;

}

.imgRevealed div {
  display: flex;
  /* Cambiar la dirección de flexbox para las imágenes internas */
  flex-direction: row;
  /* Alinear las imágenes internas horizontalmente */
}

.imgRevealed img {
  flex-shrink: 0;
  margin: 0.300em;
  /* Espacio entre las imágenes */
  opacity: 0;
  /* Inicialmente, las imágenes están ocultas */
  transition: opacity 0.5s;
  /* Agrega una transición de fade-in */
}

.imgRevealed img.in-viewport {
  opacity: 1;
}


.imgRevealed>div:nth-child(2) {

  height: 10.625em;
  flex-shrink: 0;
  width: 100%;
  position: relative;

}

.imgRevealed>div:nth-child(3) {

  height: 10.625em;
  flex-shrink: 0;
  width: 100%;


}


.imgRevealed>div:nth-child(2)>img.img2 {

  position: absolute;
  transform: translate(9.6em);
}


.img1 {
  width: 9.5em;
  height: 9.5em;
}


.img2 {
  width: 9.5em;
  height: 9.5em;
  position: absolute;


}

.childContainer2 {
  position: absolute;
  background-color: white;
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
  transform: translate(17em,-0.7em);


}

.img3 {
  width: 9.5em;
  height: 9.5em;
  position: absolute;


}

.chilContainer3 {
  position: relative;
  background-color: white;
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  top: 8em;
  right: 1em;
  border-radius: 50%;
}

#imgVar1{
    transition: opacity 1s; /* 0.5 segundos para la transición de opacidad */
}

#imgVar2{
  transition: opacity 1s; /* 0.5 segundos para la transición de opacidad */
}

#imgVar3{
  transition: opacity 1s; /* 0.5 segundos para la transición de opacidad */
}


.linea-verde {
  position: relative;
  width: 100%; 
  height: 2.5px; 
  background-color: transparent; 
  overflow: hidden;
}

.linea-verde::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 100%;
  background-color: #53A490;;
  animation: crecimiento 5s linear infinite; 
}

@keyframes crecimiento {
  0% {
    width: 0; 
  }
  100% {
    width: 100%;
  }
}

.linea-verde:hover::before {
  animation: none; 
  width: 100%; 
}

/*   */


/*   */
.section-3{
  background-color: white;
  
  padding-top: 0.5em;
}

.section-3Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 6em;
  

}

.info{
  background-color: white;
  width: 370px;
  height: 164px;
  text-align: justify;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.info p{
  
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.colorB{
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color{
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.degrade{
  color: #54535A;
  font-weight: lighter;
  font-family: 'AlbertSans-Light';
}

.pibContainer{
  
  padding-top: 4em;
  
}

.dots{
  width: 20em;
  height: 20em;
  position: relative;
}

.pib{
  width: 17em;
  height: 17em;
  position: absolute;
  transform: translate(-19em);
 
}

main{
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding-top: 5%;
  overflow-x: hidden;
  
  
}

#section4{
  background-color: #28282B;
  width: 100%;
  padding-top: 9em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  gap: 2em;
  padding-bottom: 6em;
  top: 0;
}

.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

  
.visible {
  opacity: 1;
  transform: translate(0, 0);
}
  



.pymesContainer{
padding-left: 1.7em;
}

.dots2{
  width: 20em;
  height: 20em;
  position: relative;
}

.pymes{
  width: 17em;
  height: 17em;
  position: absolute;
  transform: translate(-19em);
}

.info2{
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
}


.color2{
  color: #FFFFFF;
  font-family: 'AlbertSans-Light';
  font-size: 2rem;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.info2 p{
  color: #FFFFFF;
  font-family: 'AlbertSans-Bold';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  
}

.greenColor{
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fuente{
color: #53A490;
font-family: 'AlbertSans-Light';
font-size: 0.800rem;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-top: 2px;
width: 100%;

}

#section5{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
  top: 0;
  padding-bottom: 9em;
  
}

.info3{ 
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  margin-top: 5em;
  
}

.greenColor2{
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boldBlack{
  color: #28282B;
  font-size: 1.8rem;
  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color3{
  font-size: 1.8rem;
 color: #54535A;
 font-family: 'AlbertSans-Light';
 font-style: normal;
 font-weight: lighter;
 line-height: normal;
}

.containerEmpresa{
  width: 20.00956rem;
  height: 12.01563rem;
  background-color: red;
   background-image: url('imgs/empresas-mexicanas.jpg');
   background-size: cover; 
  background-position: center center; 
}

#section6{
  background-color: white;
  width: 100%;
  top: 0;
  padding-bottom: 5em;
  padding-top: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;




  
}

.creditoImg{
  width: 18em;
  height: 12em;
 
}

h2{
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3{
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info4{
  padding-left: 0.5em;
  padding-right: 0.5em;
  
 
}

.infoP{
  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-size: 1.125rem;
  font-weight: lighter;
  font-style: normal;
  text-align: center;
  
}

.pagas{
  color: #53A490;
  text-align: center;
  font-family:'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.capital{
  color: #54535A;
  text-align: center;
  font-family:'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 9em;
}

.container5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 3em;
}

.info5{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 3em;
 
}

.info6{
  text-align: center;
  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-size: 1.125rem;
  font-weight: lighter;
  font-style: normal;
  text-align: center;
}

#section7{
  background-color: white;
  width: 100%;
  top: 0;
  padding-top: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  
 
}

.info7{
  text-align: center;
  font-size: 1.5rem;

}

.container7{
padding-left: 6em;
padding-right: 6em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 4em;
}

.infoP3{
  clear: #54535A;
  font-family: 'AlbertSans-Light';
  
  font-weight: lighter;
  font-style: normal;
  text-align: center;
}

.pagas3{
  color: #53A490;
  text-align: center;
  font-family:'AlbertSans-Bold';

  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.finloop{
  position: absolute;
  width: 16rem;
  height: 32rem;
  transform: translate(-17.7em, 2em);
 
}

.containerImgs{
  height: 25rem;
  overflow-y: hidden;

}

#section8{
  background: #EFEFEF;
  margin-top: -12em;
  padding-top: 8em;
  padding-bottom: 10em;
  
  
}


h4{
  color: #28282B;
  font-family:'AlbertSans-Bold';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.h4Green{
  color: #53A490;
  font-family:'AlbertSans-Bold';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info8{
  font-size: 1.4rem;
 line-height: normal;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
 
}

.black{
  color: #28282B;
  text-align: center;
  font-family:'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
}

.ligthBlack{
  color: #28282B;
  font-family:'AlbertSans-light';
  font-style: normal;
  font-weight: lighter;
}

.formulario{
  color: #28282B;
  text-align: center;
  font-family:'AlbertSans-light';
  font-style: normal;
  font-weight: lighter;
  
}

.container8{
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empresarioImg{
  width: 17rem;
  height: 20rem;
  flex-shrink: 0;
  margin-top: 4em;
  position: relative;

}

.iconFinden{
  width: 4.2rem;
  height: 7.2rem;
  flex-shrink: 0;
  position: absolute;
  transform: translate(7.5em, 17.5em);

}

#section9{
  
  top: 0;
  background: linear-gradient(#28282B, #1A1A1C);
  
  
}

.sectionContainer9{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-top: 15em;
  justify-content: center;
  align-items: center;
}

.footerFindemex{
  width: 12.1875rem;
  height: 2.75rem;
  flex-shrink: 0;
}

.footerBottom {
  width: 14.375rem;
  height: 2.5rem;
  flex-shrink: 0;
  top: 35px;
  left: 1170px;
  border-radius: 1.25rem;
  background: #53A490;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2em;
}

.formLink2 {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'AlbertSans-Bold';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 167px;
  height: 17px;
  display: block;

}

.financiera{
  width: 115px;
  height: 35px;
  
}

.footerImg{
  position: absolute;
}

.footerLinks{
  color: #FFF;
  font-family: 'AlbertSans-light';
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.linksContainer{

  display: flex;
  gap: 1em;
  justify-content:center;
  align-items: center;
}

footer{
  color: #FFF;
  font-family: 'AlbertSans-light';
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding-top: 1.5em;
}

.goplek{
  color: #FFF;
font-family: 'AlbertSans-light';
font-size: 0.6875rem;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
text-align: center;
}


.etiqueta{
  width: 6.0625rem;
  height: 2.1875rem;
  flex-shrink: 0;
}


/*  Media Query Pantallas Grandes  */
@media screen and (min-width: 768px) {
  /* para dispositivos grandes */

  header {
    gap: 2rem;
  }



  .textImg {
    width: 27.5rem;
    height: 6.217375rem;
  }

  .textImg2 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 131px;
    height: 40px;

  }



  /* Boton superior: "Cuentanos de tu empresa" */
  .formBt {
    width: 14.375rem;
    height: 2.5rem;
    flex-shrink: 0;
    top: 35px;
    left: 1170px;
    border-radius: 1.25rem;
    background: #53A490;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formBt2 {
    width: 14.375rem;
    height: 2.5rem;
    flex-shrink: 0;
    top: 35px;
    left: 1170px;
    border-radius: 1.25rem;
    background: #53A490;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }



  .formLink {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'AlbertSans-Bold';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 167px;
    height: 17px;
    display: block;

  }



  /* ############################### */


  .creditosBt {
    text-align: center;
    font-family: 'AlbertSans-Ligth';
    font-size: 1rem;
    width: 3.9375rem;
    height: 1.1875rem;
    font-weight: 300;
    line-height: 1.1875rem;
    letter-spacing: 0em;
    padding-top: 1rem;
  }

  .formLink {
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    font-family: 'AlbertSans-Bold';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 167px;
    height: 17px;
    top: 46px;
    left: 1192px;
  }

  .text {
    width: 56.1875rem;
    margin-bottom: 20%;
  }

  h1 {
    font-size: 3.5rem;
    width: max-content;
  }

  .text p {
    font-size: 2.625rem;
    width: max-content;
  }

  .formAnclado {
    display: none;

  }


  .description {

    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 2.870rem;
    align-items: center;
    line-height: normal;


  }

  .descriptionContent {
    width: 34.6875em;

    padding-top: 10%;
    font-size: 1em;
  }


  .description span {
    font-size: 2.870rem;

  }

  .imgRevealed {


    margin-left: 6%;


  }

  .imgRevealed img {
    max-width: 100%;
    height: auto;
  }

  .imgRevealed img:nth-child(2) {
    margin-left: 25%;
  }

  .img1 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
  }


  .img2 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
   
  }

  .childContainer2 {
    position: absolute;
    background-color: white;
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    transform: translate(16.6em,-1.2em);
  }


  .img3 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
  }

  .chilContainer3 {
    position: absolute;
    background-color: white;
    width: 4em;
    height: 4em;
    flex-shrink: 0;
    border-radius: 50%;
    transform: translate(-7em,0.5em);
  }




  /*Imagenes para efecto revelado*/
  .imgRevealed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
  }

  .imgRevealed div {
    display: flex;
    flex-direction: row;
 
  }

  .imgRevealed img {
    flex-shrink: 0;
    margin: 2px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .imgRevealed img.in-viewport {
    opacity: 1;
  }


  .imgRevealed>div:nth-child(2) {

    height: 10.625em;
    width: 100%;
    position: relative;

  }

  .imgRevealed>div:nth-child(3) {

    height: 10.625em;
    position: relative;


  }


  .imgRevealed>div:nth-child(2)>img.img2 {
    position: absolute;
    
    transform: translate(10em);
  }


  .content {
    background-color: white;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-bottom: 4em;
    
    
   
  }



.section-3Container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6em;
  margin-top: 4em;
}


.info{
  background-color: white;
  text-align: justify;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.info p{
  
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.colorB{
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color{
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.degrade{
  color: #54535A;
  font-weight: lighter;
  font-family: 'AlbertSans-Light';
}



#section3{
width:100%;

display: flex;
align-items: center;
justify-content: center;
gap: 52em;
}


#section4{
  background-color: black;
  
}
}