@font-face {
  font-family: 'AlbertSans-Bold';
  src: url('./fonts/AlbertSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlbertSans-Light';
  src: url('./fonts/AlbertSans-Light.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}



:root {
  --heroHeight: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}


/* EFECTO COVER ##################################*/
.scrollable-section {
  display: none;
}

.hero-effects {

  height: 100vh;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  /* Define la opacidad aquí */
  z-index: 2;
  /* Asegura que esté detrás de .bg */
}


.bg {
  height: 100%;
  position: fixed;
  width: 100%;
  background-image: url('./imgs/finden-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: scale(1);

}


.shade {
  opacity: 0;
  background: white;
  z-index: 2;
  height: 100%;
  position: fixed;
  width: 100%;
  pointer-events: none;
}

.title {
  width: 100%;
}

.text {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23rem;
  text-align: center;
  color: white;
  padding: 4em;
  text-align: center;
  margin-bottom: 50%;
  gap: 2em;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}



.textImg {
  width: 100%;


}

.textImg2 {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 131px;
  height: 40px;

}


.arrow {
  position: fixed;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.centerV {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Your custom styles for h1 and p go here */
h1 {
  color: #53A490;
  text-align: center;
  font-family: 'AlbertSans-Bold';
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.text p {
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-2 {
  top: 0;

}

.content {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 3;
  padding-bottom: 2rem;
  overflow: hidden;
}


/* Your custom styles for p inside .content go here */

.bouncy {
  animation: bounce 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* EFECTO COVER ##################################*/



header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* Alinea los elementos a la derecha */
  align-items: flex-start;
  /* Alinea los elementos hacia arriba */
  padding: 1.25rem;
  z-index: 3;
  position: relative;
}

.creditosBt {

  color: #28282B;
  text-align: center;
  font-family: 'AlbertSans-Light';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 48px;
  height: 14px;
  line-height: 14px;
  letter-spacing: 0em;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.subrayado {
  position: absolute;
  bottom: -0.5em;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #53A490;
  transition: width 0.3s ease-in-out;
}


.creditosBt:hover .subrayado {
  width: 100%;
}

/* Boton superior: "Cuentanos de tu empresa" */

#hideButtom {
  display: none;
}

.formLink {
  display: none;
}

/*  ######################################   */



/*CTA ANCLADO*    */
.formAnclado {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  background: #53A490;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;


}

.formLinkAnclado {
  color: #FFF;
  text-align: right;
  font-family: 'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;

}

.formAncladoArrow {
  width: 1.16531rem;
  height: 0.98188rem;
  flex-shrink: 0;
  fill: #FFF;
}

.footerBottom {

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 1.25rem;
  background: #53A490;
  width: 14.375rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.footerBottom a {
  display: block;
  position: relative;
  overflow: hidden;
  width: calc(100% - 50px);
  height: 100%;
  text-decoration: none;

  color: #FFF;
  text-align: right;
  font-family: "AlbertSans-ligth";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.textButton2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  color: #FFF;
  text-align: right;
  font-family: "AlbertSans-ligth";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.footerBottom a:hover .textButton2:first-child {
  transform: translateY(-100%);
  opacity: 0;
}

.footerBottom a:hover .textButton2:last-child {
  transform: translateY(0);
}

.textButton2:last-child {
  transform: translateY(100%);
}



/* CTA ANCLADO  */


.description {
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.0999rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 1.5em;
  width: 369px;
  height: 371px;



}

.descriptionContent {
  top: 0;
  align-items: center;


}

.description span {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.0999rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Efecto de entrada de texto */
.description {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

/*Efecto de entrada de texto */

/*Imagenes para efecto revelado*/
.imgRevealed {

  margin-top: 0.5em;
  padding-right: 9.5em;
  padding-bottom: 4em;

}

.imgRevealed div {
  display: flex;
  /* Cambiar la dirección de flexbox para las imágenes internas */
  flex-direction: row;
  /* Alinear las imágenes internas horizontalmente */
}

.imgRevealed img {
  flex-shrink: 0;
  margin: 0.300em;
  /* Espacio entre las imágenes */
  opacity: 0;
  /* Inicialmente, las imágenes están ocultas */
  transition: opacity 0.5s;
  /* Agrega una transición de fade-in */
}

.imgRevealed img.in-viewport {
  opacity: 1;
}


.imgRevealed>div:nth-child(2) {

  height: 10.625em;
  flex-shrink: 0;
  width: 100%;
  position: relative;

}

.imgRevealed>div:nth-child(3) {

  height: 10.625em;
  flex-shrink: 0;
  width: 100%;


}


.imgRevealed>div:nth-child(2)>img.img2 {

  position: absolute;
  transform: translate(9.6em);
}


.img1 {
  width: 9.5em;
  height: 9.5em;
}


.img2 {
  width: 9.5em;
  height: 9.5em;
  position: absolute;


}

.childContainer2 {
  position: absolute;
  background-color: white;
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
  transform: translate(17em, -0.7em);


}

.img3 {
  width: 9.5em;
  height: 9.5em;
  position: absolute;


}

.chilContainer3 {
  position: relative;
  background-color: white;
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  top: 8em;
  right: 1em;
  border-radius: 50%;
}

#imgVar1 {
  transition: opacity 1s;
  /* 0.5 segundos para la transición de opacidad */
}

#imgVar2 {
  transition: opacity 1s;
  /* 0.5 segundos para la transición de opacidad */
}

#imgVar3 {
  transition: opacity 1s;
  /* 0.5 segundos para la transición de opacidad */
}


.linea-verde {
  position: relative;
  width: 100%;
  height: 2.5px;
  background-color: white;
  overflow: hidden;
}

.linea-verde::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #53A490;
  ;
  animation: crecimiento 5s linear infinite;
}

@keyframes crecimiento {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.linea-verde:hover::before {
  animation: none;
  width: 100%;
}

/*   */


/*   */

#section3 {
  background-color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 9em;
  position: relative;
  z-index: 3;
}


.info {
  background-color: white;


  width: 370px;
  height: 164px;
  top: 2263px;
  left: 30px;


}

.info p {

  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.colorB {
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.colorDegrade {
  color: #53A490;
  font-family: 'AlbertSans-Light';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.degrade {
  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pibContainer {
 
  position: relative;
 


}

.dots {
  width: 28.75rem;
  height: 28.75rem;
  transform: rotate(-90deg);
  flex-shrink: 0;
}

.pib {
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(-27em);

}

.section-3Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

}



#section4 {
  background-color: #28282B;
  width: 100%;
  padding-top: 9rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  gap: 2rem;
  padding-bottom: 6rem;
  top: 0;
  position: relative;
  z-index: 3;
}

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}


.visible {
  opacity: 1;
  transform: translate(0, 0);
}




.pymesContainer {
  padding-left: 1.7em;
}

.dots2 {
  width: 20em;
  height: 20em;
  position: relative;
}

.pymes {
  width: 17em;
  height: 17em;
  position: absolute;
  transform: translate(-18.2em);
}

.info2 {
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: justify;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1.7em;

}


.color2 {
  color: #FFFFFF;
  font-family: 'AlbertSans-Light';
  font-size: 2rem;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.info2 p {
  color: #FFFFFF;
  font-family: 'AlbertSans-Bold';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;

}

.greenColor {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fuente {
  color: #53A490;
  font-family: 'AlbertSans-Light';
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 2px;
  width: 100%;

}

#section5 {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
  top: 0;
  padding-bottom: 5em;
  position: relative;
  z-index: 3;



}

.info3 {
  text-align: center;
  width: 100vw;
  margin-top: 5em;
  font-size: 2.25rem;
  line-height: normal;

}

.greenColor2 {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boldBlack {
  color: #28282B;

  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color3 {

  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-style: normal;
  font-weight: lighter;
  line-height: normal;

}

.containerEmpresa {
  width: 23.125rem;
  height: 13.125rem;
  flex-shrink: 0;
  background-image: url('imgs/empresas-mexicanas.jpg');
  background-size: cover;
  background-position: center center;
  margin-top: 1.5em;

}

#section6 {
  background-color: white;
  width: 100%;
  top: 0;
  padding-bottom: 5em;
  display: flex;
  overflow: auto;
}


h2 {
  color: #28282B;
  font-family: 'AlbertSans-Bold';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 8rem;
}

h3 {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 1rem;
}

.info4 {
  padding-left: 0.5em;
  padding-right: 0.5em;


}

.infoP {
  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-size: 1.125rem;
  font-weight: lighter;
  font-style: normal;
  text-align: center;

}

.pagas {
  color: #53A490;
  text-align: center;
  font-family: 'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.capital {
  color: #54535A;
  text-align: center;
  font-family: 'AlbertSans-Bold';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 9em;
}

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 3em;
}

.info5 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 3em;

}

.info6 {
  text-align: center;
  color: #54535A;
  font-family: 'AlbertSans-Light';
  font-size: 1.125rem;
  font-weight: lighter;
  font-style: normal;
  text-align: center;
}

#section7 {
  background-color: white;
  width: 100%;
  top: 0;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;

}

.info7 {

  font-size: 1.75rem;
  text-align: center;
}

.container7 {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-top: -2em;
}

.infoP3 {
  clear: #54535A;
  font-family: 'AlbertSans-Light';

  font-weight: lighter;
  font-style: normal;

}

.pagas3 {
  color: #53A490;
  text-align: center;
  font-family: 'AlbertSans-Bold';

  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.containerImgs {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 22.875rem;
  height: 23.125rem;
  padding: 0.00006rem 0rem 0rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.dots3 {
  width: 90%;
  height: 90%;
  flex-shrink: 0;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

.finloop {
  width: 75%;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  bottom: -100%;
  /* Inicialmente fuera de la vista */
  transition: bottom 1s ease, clip-path 1s ease;
  transform: translate(-0.1em, 2em);
}

.finloop.active {
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 65%);
}


#section8 {
  background: #EFEFEF;
  margin-top: -5em;
  padding-top: 5em;
  padding-bottom: 8em;
  top: 0;
  position: relative;
  z-index: 3;
}


h4 {
  color: #28282B;
  font-family: 'AlbertSans-Bold';

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  padding-bottom: 4rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.625rem;
}

.h4Green {
  color: #53A490;
  font-family: 'AlbertSans-Bold';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info8 {

  line-height: normal;
  text-align: center;

}

.black {
  font-size: 1.70rem;
  color: #28282B;
  text-align: center;
  font-family: 'AlbertSans-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.ligthBlack {
  font-size: 1.5rem;
  color: #28282B;
  font-family: 'AlbertSans-light';
  font-style: normal;
  font-weight: lighter;

}

.formulario {
  font-family: 'AlbertSans-light';
  color: #53A490;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-decoration-line: underline;
}

.container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.containerRelative {
  width: 18.3125rem;
  height: 21.25rem;
  flex-shrink: 0;
  padding-top: 1em;
  margin-bottom: 4em;
}

.empresarioImg {
  width: 17rem;
  height: 20rem;
  flex-shrink: 0;
  margin-top: 4em;
  position: relative;

}

.iconFinden {
  width: 4.2rem;
  height: 7.2rem;
  flex-shrink: 0;
  position: absolute;
  transform: translate(-3em, 20.3em);

}

#section9 {

  top: 0;
  background: linear-gradient(#28282B, #1A1A1C);
  max-height: 100%;
  overflow-y: hidden;
  position: relative;
  z-index: 3;

}

#section9 .formAnclado {
  display: none;
  overflow: auto;
}

.sectionContainer9 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6em;
  padding-top: 5em;
  justify-content: center;
  align-items: center;

}

.bgFooter {
  width: 34em;
  height: 34em;
  position: absolute;
  transform: translate(5em, 4em);


}

.footerFindemex {
  width: 12.1875rem;
  height: 2.75rem;
  flex-shrink: 0;
}



.financiera {
  width: 115px;
  height: 35px;


}

.footerImg {
  position: absolute;

}

.footerLinks {
  color: #FFF;
  font-family: 'AlbertSans-light';
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.linksContainer {

  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  flex-direction: column;
}

footer {
  color: #FFF;
  font-family: 'AlbertSans-light';
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding-top: 1.5em;
}

.goplek {
  color: #FFF;
  font-family: 'AlbertSans-light';
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}


.etiqueta {
  position: absolute;
  bottom: 2.5em;
  width: 6.0625rem;
  height: 2.1875rem;
  flex-shrink: 0;
  right: 0;

}

.footerContainer {

  background: linear-gradient(#28282B, #1A1A1C);
  position: relative;
  width: 100vw;
  overflow: hidden;
}



.bgFooter2 {

  width: 37em;
  height: 37em;
  position: absolute;
  transform: translate(-0.87em, 2em);


}


.footer {

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6em;
  padding-top: 5em;
  justify-content: center;
  align-items: center;

}


.App {
  top: 0;
  background: white;
  position: relative;
  z-index: 3;

}

.imgcontainer {

  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background: white;
  gap: 1rem;
}

.imgcontainer img {

  object-fit: cover;
  transform-origin: left;
}

.creditoImg{
  width: 17.0625rem;
  height: 10.625rem;
  flex-shrink: 0;
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}



.conntainerA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.financiera2 {
  display: none;
}

/*  Media Query Pantallas Grandes  */
@media screen and (min-width: 768px) {
  /* para dispositivos grandes */

  header {
    gap: 2rem;
  }

  .text {

    width: 5%;

  }

  .section-1 {
    height: 100vh;
    width: 100vw;
  }

  .textImg {
    display: flex;
    width: 27.5rem;
    height: 6.21738rem;
    padding: 0.00031rem 0rem 0.00013rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;




  }

  .textImg2 {
    width: 10.23438rem;
    height: 3.125rem;
    flex-shrink: 0;


  }



  /* Boton superior: "Cuentanos de tu empresa" */
  .formBt {
    width: 14.375rem;
    height: 2.5rem;
    flex-shrink: 0;
    top: 35px;
    left: 1170px;
    border-radius: 1.25rem;
    background: #53A490;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formBt2 {
    width: 14.375rem;
    height: 2.5rem;
    flex-shrink: 0;
    top: 35px;
    left: 1170px;
    border-radius: 1.25rem;
    background: #53A490;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }



  .formLink {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'AlbertSans-Bold';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 167px;
    height: 17px;
    display: block;

  }



  /* ############################### */


  .creditosBt {
    text-align: center;
    font-family: 'AlbertSans-Ligth';
    font-size: 1rem;
    width: 3.9375rem;
    height: 1.1875rem;
    font-weight: 300;
    line-height: 1.1875rem;
    letter-spacing: 0em;
    padding-top: 1rem;
  }

  .subrayado {
    bottom: -1.3em;
  }

  .formLink {
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
    font-family: 'AlbertSans-Bold';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 167px;
    height: 17px;
    top: 46px;
    left: 1192px;
  }

  .text {
    width: 56.1875rem;
    margin-bottom: 20%;
  }

  h1 {
    font-size: 3.5rem;
    width: max-content;
  }

  .text p {
    font-size: 2.625rem;
    width: max-content;
  }

  .formAnclado {
    display: none;

  }

  .imgRevealed {


    margin-left: 6%;


  }

  .imgRevealed img {
    max-width: 100%;
    height: auto;
  }

  .imgRevealed img:nth-child(2) {
    margin-left: 25%;
  }

  .img1 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
  }


  .img2 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;

  }

  .childContainer2 {
    position: relative;
    background-color: white;
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    transform: translate(9em, -1.4em);
  }

  .img2Child{
    position: absolute;
     top: -5.1em;
   
  }

  .img3 {
    width: 10em;
    height: 10em;
    flex-shrink: 0;
  }

  .chilContainer3 {
    position: relative;
    background-color: white;
    width: 4em;
    height: 4em;
    flex-shrink: 0;
    border-radius: 50%;
    transform: translate(-1em, 2em);
  }

  .img3Child{
    position: absolute;
    bottom: -3.7em;
  }


  /*Imagenes para efecto revelado*/
  .imgRevealed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 5%;
  }

  .imgRevealed div {
    display: flex;
    flex-direction: row;

  }

  .imgRevealed img {
    flex-shrink: 0;
    margin: 2px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 12.375rem;
    height: 12.375rem;

  }

  .imgRevealed img.in-viewport {
    opacity: 1;
  }


  .imgRevealed>div:nth-child(2) {

    height: 10.625em;
    width: 100%;
    position: relative;

  }

  .imgRevealed>div:nth-child(3) {

    height: 10.625em;
    position: relative;
    bottom: -2em;


  }


  .imgRevealed>div:nth-child(2)>img.img2 {
    position: relative;

    transform: translate(12.5em);
  }

 

  .content {
    background-color: white;
    position: relative;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

  }

  .description {
    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 2.5rem;
    align-items: center;
    padding: 0;
    line-height: normal;
    
   
  }

  .descriptionContent {
    top: 0;
   
    width: 34.6875em;
    height: max-content;

  }


  .description span {
    font-size: 2.5rem;

  }

  .info {

    text-align: justify;
    width: 555px;
    height: 232px;

  }

  .info p {

    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .colorB {
    color: #28282B;
    font-family: 'AlbertSans-Bold';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .color {
    color: #53A490;
    font-family: 'AlbertSans-Bold';
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }



  .degrade {
    color: #54535A;
    font-weight: lighter;
    font-family: 'AlbertSans-Light';
    font-size: 3rem;
  }


  #section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 4em;
    padding-top: 0;

  }


  #section4 {

    width: max-content;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    visibility: visible;

  }

  .dots2 {
    width: 28.75rem;
    height: 28.75rem;
    position: relative;
  }
  
  .pymes {
    width: 25.75rem;
    height: 25.75rem;
    position: absolute;
    transform: translate(-27.2em);
  }


  .info2 {
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
    text-align: justify;
    width: 37rem;
  }

  .info2 p{
    font-size: 3rem;
    font-weight: 700;
  }

  .color2{
    font-size: 3rem;
    font-weight: 300;
  }
  
  .greenColor{
    font-size: 3rem;
    font-weight: 700;
  }

  .fuente {
   
    font-size: 0.75rem;

  }

  .horizontal-scroll {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200%;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative;
    z-index: 3;
  }

  .scrollable-section2 {
    flex: 0 0 100vw;
    transition: transform 0.5s ease-out;
  }






  html,
  body {

    margin: 0;
    padding: 0;
    height: 100vh;

  }




  .info3 {
    margin-top: 1em;
    font-size: 2.5rem;
    width: 20em;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }




  .containerEmpresa {
    width: 30rem;
    height: 19rem;
    flex-shrink: 0;
  }

  #section5 {

    padding-top: 10em;


  }



  .linea-verde2 {
    position: relative;
    width: 100%;
    height: 2.5px;
    background-color: transparent;
    overflow: hidden;
  }

  .linea-verde2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2.5px;
    background-color: #53A490;
    ;
    animation: crecimiento 5s linear infinite;
  }

  .linea-verde2:hover::before {
    animation: none;
    width: 100%;
  }



  .linea-verde2 {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }



  .container8 {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }


  .info8 {

    text-align: left;
    line-height: normal;
    width: min-content;
    width: 27rem;
  }

  h4 {
    padding-bottom: 1em;
    font-size: 2rem;
    text-align: left;
    width: 19rem;
  }

  .h4Green {
    font-size: 2.3rem;
  }


  .empresarioImg {
    width: 17em;
    height: 20em;
    flex-shrink: 0;
    margin-top: 4em;
    position: relative;

  }

  .iconFinden {
    width: 4.2em;
    height: 7.2em;
    flex-shrink: 0;
    position: absolute;
    transform: translate(-3em, 19em);

  }

  .black {
    text-align: left;
    font-size: 1.5rem;
  }

  .ligthBlack {
    font-size: 1.5rem;
  }


  .formulario {
    font-size: 1.5rem;
  }

  .pagas3 {

    font-size: 1.5rem;

  }

  .bgFooter2 {


    transform: translate(26.5em, 2em);


  }


  #section7 {
    overflow-y: hidden;
  }

  #section8 {
    overflow-y: hidden;
    margin-top: -5em;
  }

  h2 {
    text-align: center;
    font-family: 'AlbertSans-Bold';
    font-size: 3.375em;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;


  }



  /*#######  */
  .imgcontainer {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 2em;
    padding-top: 4em;
   
  }




  .imgcontainer img {
    
    flex-shrink: 0;
    object-fit: cover;
    transform-origin: left;
    background: white;
    position: relative;
  }

  .reveal {
    visibility: hidden;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40.625em;  
  }

  .info6 {

  }

  .info4 {
    padding: 2em;
  }

  .creditoImg {
    position: relative;
    width: 46.375em;
    height: 35.625em;  
    flex-shrink: 0;
   
  }

  .creditoImg2Container{
    
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 4.3125rem;
    height: 4.3125rem;
    flex-shrink: 0;
    fill: #EFEFEF;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10));
    transform: translate(8em,-18.1em);
    display: flex;
    align-items: center; 
    justify-content: center; 

  }

  .creditoImg2 {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;

  }

  .creditoSimpleContainer{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    fill: #EFEFEF;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10));
    transform: translate(-23.5em,12.5em);
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  .creditoSimple {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .financiera {
    display: none;
  }

  .financiera2 {
    position: absolute;
    display: flex;
    bottom: 1%;
    right: 40%;
  }

  .linksContainer {
    display: flex;
    padding-left: 2rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 10rem;
    gap: 10rem;


  }


  footer {
    display: none;
  }

  .footerEnd {
    color: #FFF;
    font-family: 'AlbertSans-light';
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  .goplek {

    padding-bottom: 0em;
    padding-left: 22em;
  }

  .containerA {
    display: flex;
    gap: 1rem;
  }

  #section9 {
    height: 100vh;
    width: 100vw;
    position: relative;
  }


 

  #hideButtom {
    display: flex;
  }


  .footerBottom {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 1.25rem;
    background: #53A490;
    width: 14.375rem;
    height: 2.5rem;
    flex-shrink: 0;
  }

  .footerBottom a {
    display: block;
    position: relative;
    overflow: hidden;
    width: calc(100% - 50px);
    height: 100%;
    text-decoration: none;

    color: #FFF;
    text-align: right;
    font-family: "AlbertSans-ligth";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
  }

  .textButton2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    color: #FFF;
    text-align: right;
    font-family: "AlbertSans-ligth";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
  }

  .footerBottom a:hover .textButton2:first-child {
    transform: translateY(-100%);
    opacity: 0;
  }

  .footerBottom a:hover .textButton2:last-child {
    transform: translateY(0);
  }

  .textButton2:last-child {
    transform: translateY(100%);
  }

  .formAncladoArrow2 {
    width: 1.16531rem;
    height: 0.98188rem;
    flex-shrink: 0;
    fill: #FFF;
    position: relative;

  }


}